h1 {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.programming-links {
  text-align: center;
  padding: 10px;
  word-spacing: 25px;
  letter-spacing: none;

}
